.navbar {
    z-index: 1;
}

.formLogin {
    margin-top: 3%;
}

.example-container>* {
    width: 100%;
}

.boton {
    background-color: aquamarine;
    position: relative;
    float: left;
}

.caja {
    background-color: brown;
    float: right;
}

.example-container>* {
    width: 100%;
}

.heightButton {
    margin-top: -1%;
    height: 80% !important;
}