<header class="h-100">
    <div>
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark   mdb-color secondary-color crolling-navbar intro-fixed-nav" [containerInside]="false">
            <mdb-navbar-brand>
                <a class="logo navbar-brand" [routerLink]="['home']">
                    <h3> <strong>SoundART </strong> </h3>
                </a>
            </mdb-navbar-brand>
            <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" [routerLink]="['']"><strong>Inicio</strong>  </a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" [routerLink]="['conocer']"><strong>Conocer</strong></a>
                    </li>
                </ul>
                <div class="formLogin offset-md-1 offset-sm-1 col-md-7 col-sm-10 col-xs-8">
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
                        <div class="form-group row">
                            <div class="form-group col-md-6 ">
                                <input class="col-md-9" placeholder="¿a quien buscas?" type="search" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': validateSearch && getsearchForm.user.errors }" />
                                <div *ngIf="validateSearch && getsearchForm.user.errors" class="invalid-feedback">
                                    <div *ngIf="getsearchForm.user.required">Usuario es obligatorio</div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <button mat-mini-fab color="primary">
                                            <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>
                            <mdb-icon fas icon="user"></mdb-icon> mi perfil</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            <mdb-icon fas icon="cog"></mdb-icon> Configuracion<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item" [routerLink]="['miPerfil']">Cambiar datos </a>
                            <a class="dropdown-item" [routerLink]="['miPerfil']">cambiar foto </a>
                            <a class="dropdown-item" (click)="close()">salir </a>
                        </div>
                    </li>

                </ul>
            </links>
        </mdb-navbar>
    </div>
</header>