.spinner {
    margin-left: 47%;
    margin-top: 20%;
}

.example-card {
    max-width: 100%;
}

.jframeEmbed {
    width: 400px;
}

.example-header-image {
    background-size: cover;
}

.example-full-width {
    width: 100%;
}