<div>
    <h1 style="text-align: center;">Publicaciones destacadas</h1>
    <div *ngFor="let item of listPubs;let i = index" class="col-md-2">
        <mat-card class="flex " style="background-color: #3f51b5; color: white;">
            <mat-card-header>
                <img mat-card-image src="https://cdn.icon-icons.com/icons2/1674/PNG/512/person_110935.png" alt="Photo of a Shiba Inu">
                <mat-card-title>{{item.nickname_author}}</mat-card-title>
                <mat-card-title>{{item.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="embed-responsive embed-responsive-16by9">
                    <div [innerHtml]="iframe_html[i]"></div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <br>
    </div>
</div>