<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong> <h3> SoundART </h3> </strong></a>
        </mdb-navbar-brand>
        <links style="align-content: center;">
            <ul class="navbar-nav mr-auto">
                <div class="formLogin offset-md-4 offset-sm-1 col-md-6 col-sm-10  col-xs-8">
                    <form [formGroup]="LoginForm" (ngSubmit)="onSubmitRegister()">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input placeholder="Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.email.errors }" />
                                <div *ngIf="submitted && getRegisterForm.email.errors" class="invalid-feedback">
                                    <div *ngIf="getRegisterForm.email.errors.required">Email es obligatorio</div>
                                    <div *ngIf="getRegisterForm.email.errors.email">example@xample.com</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input placeholder="Contraseña" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.password.errors }" />
                                <div *ngIf="submitted && getRegisterForm.password.errors" class="invalid-feedback">
                                    <div *ngIf="getRegisterForm.password.errors.required">contraseña obligatoria</div>
                                    <div *ngIf="getRegisterForm.password.errors.minlength">minimo 6 caracteres</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary">Ingresar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ul>
        </links>
    </mdb-navbar>
    <div class="view intro-2">
        <div class="full-bg-img">
        </div>
    </div>
</header>
<!--Main Layout-->
<main>
    <div>
        <section id="SRegister">
            <div class=" intro-2">
                <div class="full-bg-img">
                    <div class="mask rgba-black-light ">
                        <div class=" text-center white-text wow fadeInUp">

                            <div class="sobrepone offset-md-7 offset-sm-2 col-md-4 col-sm-12  col-xs-12 example-container">
                                <br>
                                <h3 style="text-align: center"> <strong> <b> Registrate </b></strong></h3>
                                <br>
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                                    <div class="form-group">
                                        <input placeholder="Nombre Empresa" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.firstName.errors }" />
                                        <div *ngIf="submitted && getRegisterForm.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="getRegisterForm.firstName.errors.required">Nombre es obligatorio</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input placeholder="Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.email.errors }" />
                                        <div *ngIf="submitted && getRegisterForm.email.errors" class="invalid-feedback">
                                            <div *ngIf="getRegisterForm.email.errors.required">Email es obligatorio</div>
                                            <div *ngIf="getRegisterForm.email.errors.email">example@xample.com</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input placeholder="Contraseña" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.password.errors }" />
                                        <div *ngIf="submitted && getRegisterForm.password.errors" class="invalid-feedback">
                                            <div *ngIf="getRegisterForm.password.errors.required">contraseña obligatoria</div>
                                            <div *ngIf="getRegisterForm.password.errors.minlength">minimo 6 caracteres</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input placeholder="Repetir Contraseña" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && getRegisterForm.confirmPassword.errors }" />
                                        <div *ngIf="submitted && getRegisterForm.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="getRegisterForm.confirmPassword.errors.required">contraseña obligatoria</div>
                                            <div *ngIf="getRegisterForm.confirmPassword.errors.mustMatch">las contraseñas no coinciden</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary">Registrate</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="page-footer font-small black  fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:Daniel lopez
        <a href="https://github.com/daniellopezj01">github</a>
    </div>
</footer>